/* Backgrounds */
.bg-no{background-color: transparent;} /*w无色*/ 
.bg-wh{background-color:#ffffff;} /*白色*/  
.bg-gray{background-color:#E6E6E6;} /*默认-灰色*/  
.bg-blue{background-color:#0E90D2;} /*蓝色*/  
.bg-green{background-color:#5EB95E;} /*绿色*/ 
.bg-orange{background-color:#F37B1D;} /*橙色*/ 
.bg-red{background-color:#f74c31;} /*红色*/
.bg-purple{background-color:#7E56C6;}
.bg-f8{background-color:#f8f8f8;}
.bg-g9{background-color:#999;}  
.bg-f7{background-color:#f7f7f7!important}
.bg-f3{background-color:#f3f3f3;} 
.bg-B37{background-color:#b377b9;}

/* color */
.g0{color:#000;}  .g3{color:#333;}  .g6{color:#666;}  .g9{color:#999;}  .ga{color:#aaa;}  .gb{color:#bbb;}  .gc{color:#ccc;} .gd{color:#ddd;} .ge{color:#eee;}.b37{color:#b377b9;}
.red{color:#dd514c;}  .blue{color:#00aaee;}  .green { color: #2ecc40; }  .orange { color: #f37b1d; }   .white{color:#fff;}  .purple{color: #7E56C6;} 
a.red{color:#dd514c;}  a.blue{color:#00aaee;}  a.green { color: #2ecc40; }  a.orange { color: #f37b1d; }  a.white{color:#fff;}  a.purple{color: #7E56C6;} 
